.container{
	max-width: 960px;

}
a{
	text-decoration: none;
	color: darkgreen;
	border: solid 1px;
	text-transform: uppercase;
	margin: 2px;
	padding: 3px;

}
a:hover{
	background: white;
}
.logo{
	background: lightcyan;
}
body{
	background: lightcyan;
	
}
.navi{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 16px;
	background: lightblue;
	padding: 6px;
	margin: 10px 0px 10px 0px;
}
.team{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
}
.team_title{
	font-size: 40px;
}
.mem_img{

	width: 50%;
	height: 50%;
}